head
  title Memory game on a green carpet
body

template(name='layout')
  +HeaderFooterLayout headerSize='50' footerSize='0'
    +navbar
    +cntCtrl

template(name='navbar')
  +SequentialLayout id='menuItems' target='header' direction='X'
    each routes
      +Surface id=name size='[150, undefined]' class='unselected'
        #header.items= options.menuName

template(name='cntCtrl')
  +RenderController target='content' class='green-bg'
    +yield

template(name='home')
  +View size='[undefined, undefined]'
    +Surface size='[undefined, 30]' align='[.5, .15]' origin='[.5, .5]'
      h1 Memory
      p on a green carpet
    +Flipper size='[153, 230]' align='[.5, .6]'  origin='[.5, .5]' translate='[0,0,1]'
      +Surface id='card_1c' class='card' target='front' size='[153, 230]' align='[.5, .5]'  origin='[.5, .5]'
        img.card(src='card_1c.svg')
      +Surface id='card_back' class='card' target='back' size='[153, 230]' align='[.5, .5]' origin='[.5, .5]'
        img.card(src='card_back.svg')

template(name='link2')
  +Surface
    p Some content must be set here.
