template(name='home')
  +View size='[undefined, undefined]'
    +Surface size='[undefined, 30]' align='[.5, .15]' origin='[.5, .5]'
      h1 Memory
      p on a green carpet
    +Flipper size='[153, 230]' align='[.5, .6]'  origin='[.5, .5]' translate='[0,0,100]'
      +Surface id='card_1c' class='card' target='front' size='[153, 230]' align='[.5, .5]'  origin='[.5, .5]'
        img.card(src='joker_black.svg')
      +Surface id='card_back' class='card' target='back' size='[153, 230]' align='[.5, .5]' origin='[.5, .5]'
        img.card(src='card_back.svg')
