head
  title Memory game on a green carpet
  // Enforce UTF-8 policy
  meta(charset='utf-8')
  // Act as a Web app and set `minimal-ui` for iOS phones
  meta(name='viewport', content='width=device-width, maximum-scale=1, user-scalable=no, minimal-ui')
  // Setting full screen
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='apple-mobile-web-app-status-bar-style', content='black')
  meta(name='apple-mobile-web-app-capable', content='yes')
  meta(name='mobile-web-app-capable', content='yes')
body

template(name='layout')
  +HeaderFooterLayout headerSize='50' footerSize='0'
    +navbar
    +routeCtrl

template(name='routeCtrl')
  +RenderController target='content'
    +yield
